.navbar-expand-lg {
  /* justify-content: right; */
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-collapse {
  margin-top: 30px;
}

.collapse li a {
  /* padding: 15px 0 15px 15px; */
  border-bottom: 1px solid #e5e9ec;
  font-size: 16px;
  font-weight: bold;
}

/* .header-middle {
position: relative !important;
} */

/* @media (max-width: 1200px) {
  .header-middle {
    position: relative !important;
  }
} */

@media (min-width: 992px) {
  .navbar-expand-lg {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-middle {
    display: none;
  }

  .header-top {
    display: none;
  }

  .navbar-expand-lg {
    position: fixed !important;
    /* top: 0px !important;
    left: 0px !important; */
    z-index: 99;
    width: 100%;
  }
}

 /* BOTÃO AGENDAR CONSULTA MAPS */

.localizacao-imagem .container a {
  width: auto;
  font-size: 10px;
  padding: 15px;
}

@media (max-width: 800px) {
  .localizacao-imagem .container a {
    width: auto;
    font-size: 8px;
    padding: 10px;
  }
}

@media (max-width: 700px) {
  .localizacao-imagem .container {
    top: 20px !important;
  }
}

@media (max-width: 490px) {
  .localizacao-imagem .container a {
    width: auto;
    font-size: 6px;
    padding: 8px;
  }
}

  /* BOTÃO FALE CONOSCO */

.footer .container > div:last-child > .footer__top-blocks:nth-child(1) .content form a {
  border: 1px solid #fff;
  padding: 10px 5px 10px 12px;
  border-radius: 8px;
  
}

.footer .container > div:last-child > .footer__top-blocks:nth-child(1) .content form a i {
  margin-left: 35px;
  margin-right: 5px;
}

.email {
  margin-top: 15px;
}
